<!-- views/partials/footer.ejs -->

<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Copyright | Munir Ibrahim |
        <a href="https://github.com/muniri92/FizzBuzz">Github</a> | 
        <a href="https://www.linkedin.com/in/muniribrahim/">LinkedIn</a>
    </div>
</footer>