<!-- views/partials/instructions.ejs -->

<section class="container" id="instructions">
    <hr>
    <article class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3>Instructions:</h3>
            <ol>
                <li> If the value is a multiple of 3 then output the word “Fizz”. </li>
                <li> If the value is a multiple of 5 then output the word “Buzz”. </li>
                <li> If the value is divisible by both 3 and 5 then output the word “FizzBuzz”. </li>
                <li> At the end of the run the program should display each division that was performed. </li>
            </ol>
        </div>
    </article>
</section>